{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Details on {{ host.hostname }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Host: {{ host.hostname }}</p>
    <p>Machine ID: {{ host.machine_id }}</p>
    <p>First seen: {{ host.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>

  <div class="row">
    <ul>
    {% for i in pager.items %}
         <li>Run <a href="{{ url_for('get_run_rid', rid=i.id) }}">{{ i.name }}</a> (created {{ i.created_at.strftime('%Y-%m-%d %H:%M:%S') }}) - {{ i.results | length }} results - avg perf index: <strong>{{ i.perf_index }}</strong></li>
    {% endfor %}
    </ul>
  </div>

  <p>
  {% if pager.has_prev %}<a href="{{ url_for('items.list_'+entity, page=pager.prev_num) }}">« prev</a>{% else %}« no prev.{% endif %}
  | on page {{pager.page}} |
  {% if pager.has_next %}<a href="{{ url_for('items.list_'+entity, page=pager.next_num) }}">next »</a>{% else %}no next »{% endif %}
  </p>
{% endblock %}
