{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Run {{ run.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Run: {{ run.name }}</p>
    <p>From host: <a href="{{ url_for('get_host_machine_id', machine_id=run.host.machine_id) }}">{{ run.host.hostname }}</a></p>
    <p>First seen: {{ run.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>

  <div class="row">
    <ul>
    {% for i in pager.items %}
         <li>Result <a href="{{ url_for('get_result_rid', rid=i.id) }}"><code>{{ i.command }}</code></a> (created at {{ i.created_at.strftime('%Y-%m-%d %H:%M:%S') }}) <strong>{{ i.perf_index() }}</strong></li>
    {% endfor %}
    </ul>
  </div>

  <p>
  {% if pager.has_prev %}<a href="{{ url_for('items.list_'+entity, page=pager.prev_num) }}">« prev</a>{% else %}« no prev.{% endif %}
  | on page {{pager.page}} |
  {% if pager.has_next %}<a href="{{ url_for('items.list_'+entity, page=pager.next_num) }}">next »</a>{% else %}no next »{% endif %}
  </p>
{% endblock %}
