{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Run {{ run.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="row">

    <div class="col">
      <dl>
        <dt>Run</dt>
        <dd>{{ run.name }}</dd>
        <dt>From host</dt>
        <dd><a href="{{ url_for('get_host_machine_id', machine_id=run.host.machine_id) }}">{{ run.host.hostname }}</a></dd>
        <dt>Created at</dt>
        <dd>{{ run.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</dd>
      </dl>
    </div>

    <div class="col" style="padding: 10px;">
      <canvas id="myChart" width="300" height="100"></canvas>

      <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [{% for i in pager.items %}"{{ i.command }}",{% endfor %}],
            datasets: [{
              label: 'performance index for various benchmarks',
              data: [{% for i in pager.items %}{{ i.perf_index() }},{% endfor %}],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              x: {
                ticks: {
                  callback: function(value, index, ticks) {
                    const v = this.getLabelForValue(value)
                    if (v.length > 8) {
                      return v.substr(0, 8) + '…';
                    } else {
                      return v
                    }
                  }
                }
              },
              y: {
                beginAtZero: true
              }
            },
            plugins: {
              legend: {
                display: false
              }
            }
          }
        });
      </script>
    </div>

  </div>

  <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">benchmark</th>
                <th scope="col">created</th>
                <th scope="col">raw result</th>
                <th scope="col">performance index</th>
            </tr>
        </thead>
        <tbody>
        {% for i in pager.items %}
            <tr>
                <td><a href="{{ url_for('get_result_rid', rid=i.id) }}"><code>{{ i.command }}</code></a></td>
                <td>{{ i.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ i.result }}</td>
                <td><strong>{{ i.perf_index() }}</strong></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item{% if not pager.has_prev %} disabled{% endif %}"><a class="page-link" href="{{ url_for('get_run_rid', rid=run.id, page=pager.prev_num) }}" tabindex="-1">Previous</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">{{ pager.page }}</a></li>
      <li class="page-item{% if not pager.has_next %} disabled{% endif %}"><a class="page-link" href="{{ url_for('get_run_rid', rid=run.id, page=pager.next_num) }}">Next</a></li>
    </ul>
  </nav>
{% endblock %}
