{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Run {{ run.name }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Run: {{ run.name }}</p>
    <p>From host: <a href="{{ url_for('get_host_machine_id', machine_id=run.host.machine_id) }}">{{ run.host.hostname }}</a></p>
    <p>First seen: {{ run.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>

  <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">benchmark</th>
                <th scope="col">created</th>
                <th scope="col">performance index</th>
            </tr>
        </thead>
        <tbody>
        {% for i in pager.items %}
            <tr>
                <td><a href="{{ url_for('get_result_rid', rid=i.id) }}"><code>{{ i.command }}</code></a></td>
                <td>{{ i.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td><strong>{{ i.perf_index() }}</strong></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

  <p>
  {% if pager.has_prev %}<a href="{{ url_for('items.list_'+entity, page=pager.prev_num) }}">« prev</a>{% else %}« no prev.{% endif %}
  | on page {{pager.page}} |
  {% if pager.has_next %}<a href="{{ url_for('items.list_'+entity, page=pager.next_num) }}">next »</a>{% else %}no next »{% endif %}
  </p>
{% endblock %}
