{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Details on {{ host.hostname }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Host: {{ host.hostname }}</p>
    <p>Machine ID: {{ host.machine_id }}</p>
    <p>First seen: {{ host.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>

  <div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">run name</th>
                <th scope="col">created</th>
                <th scope="col">raw result</th>
                <th scope="col">performance index</th>
            </tr>
        </thead>
        <tbody>
        {% for i in pager.items %}
            <tr>
                <td scope="row"><a href="{{ url_for('get_run_rid', rid=i.id) }}">{{ i.name }}</a></td>
                <td>{{ i.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ i.results | length }}</td>
                <td><strong>{{ i.perf_index }}</strong></td>
             </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>

  <p>
  {% if pager.has_prev %}<a href="{{ url_for('items.list_'+entity, page=pager.prev_num) }}">« prev</a>{% else %}« no prev.{% endif %}
  | on page {{pager.page}} |
  {% if pager.has_next %}<a href="{{ url_for('items.list_'+entity, page=pager.next_num) }}">next »</a>{% else %}no next »{% endif %}
  </p>
{% endblock %}
